extends ../../layouts/page.pug
block content 


    include card.pug 

    .song-list 
        .song-list__title
            h1 Song lists 

    if songs
        .song-list__real
            each song in songs
                +songItem(song)
    else 
        p No songs available