.btn {
	display: inline-flex;
	gap: 10px;
	align-items: center;
	padding: 6px 14px;
	border-radius: 10px;
	background: #ddd;
	box-shadow: 0 2px 2px #686767;
	transition: 0.3s;
	&:hover {
		scale: 0.95;
	}
	&:active {
		scale: 0.9;
	}
	&__blue {
		background-color: #e08ed1;
	}
	&__yellow {
		background-color: #fff100;
	}
	&__danger {
		background-color: #f86c6c;
	}
}
