.input {
	display: flex;
	gap: 15px;
	font-size: 20px;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	& > * {
		flex: 0 0 120px;
	}
	input {
		flex-grow: 1;
		border: 2px solid grey;
		border-radius: 8px;
		padding: 8px 14px;
	}
}
