@use "sass:color";
$card: #929391;
.song-card {
	background-color: $card;
	padding: 12px;
	border-radius: 6px;
	&:hover {
		background-color: color.adjust($card, $lightness: 10%);
	}
	h2 {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		font-weight: 600;
		font-size: 24px;
	}
	&__meta {
		margin-top: 10px;
		display: flex;
		align-items: center;
		gap: 14px;
		font-size: 14px;
	}
}
