mixin tableRow(anison) 
    tr()
        td #{anison.title}
        td #{anison.artist}
        td #{anison.thumb}
        td.table__controls 
            .table__controls-inner
                a(href="anison/"+anison._id+"/edit" title="Edit this song") 
                    i.fa-solid.fa-pen-to-square 
                button(href="anison/"+anison._id data-id=anison._id title="Delete this song" onclick="trigger(this)") 
                    i.fa-solid.fa-trash
                a(href="/songs/"+anison.slug title="View this song") 
                    i.fa-solid.fa-eye