extends layouts/page.pug
block content 
    h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt amet pariatur dolores libero quos fugiat, voluptatibus recusandae aut, dignissimos nostrum error perspiciatis quas vitae in. Impedit quam dolore sapiente accusamus.