extends ../../layouts/page.pug
block content 


    h1 welcome, admin 
    a(href="/admin/edit").btn-2
        i.fa-solid.fa-pen-to-square 
        span Edit your account

    br
    a(href="/admin/anison").btn-2
        i.fa-solid.fa-music
        span View list
    //- a(href="/admin/anison/add") 
