.song-info {
	display: grid;
	grid-template-columns: 300px 2fr;
	align-items: flex-start;
	gap: 20px;
	.listen {
		font-weight: 700;
		color: red;
	}
	h1 {
		margin: 30px 0;
	}
	.meta {
		display: grid;
		grid-gap: 14px;
		.addi {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			gap: 14px;
			flex-wrap: wrap;
			& > * {
				flex: 1 0 40%;
			}
		}
	}
}
.lyrics {
	margin-top: 30px;
	display: grid;
	grid-gap: 10px;
	p {
		min-height: 4px;
	}
}
