mixin header
    .header
        p.title__text anison portal
        nav.navigation
            ul
                li
                    a(href="/songs") songs
                li
                    a(href="/") users
                li
                    a(href="/") manage