mixin header
    .header
        a.title__text(href="/") anison portal
        nav.navigation
            ul
                li
                    a(href="/songs") songs
                li
                    a(href="/admin").icon 
                        i.fa-solid.fa-user